<br>
<br>
<!-- project 1 -->
<div class="row">
  <div class="col-md-4">
<img src="images/brickbreaker.png" class="project">
</div>
<div class="col-md-4">
  <div class="description">
    <h2><a target="_blank" href="http://pnguye11.github.io/brickbreakers"> Brick Breaker </a><a target="_blank" href="https://github.com/pnguye11/brickbreakers">| Github</a></h2><br />
      <P>BrickBreaker is my first app/game I've ever built. In the game, bricks are form in collumns and rows on the screen. A ball will drop down and once it hits the paddle the ball will travel across the screen, bouncing off the the sides of the wall on the screen. When a brick is hit, the ball bounces in the opposite directions and the brick is destroyed. The player has a paddle to manipulate the bouncing direction of the ball, avoiding the botton of the screen.
      </P>
    <br>
    <div class="chip">
    <img src="images/css3.png" alt="Person" width="96" height="96">
    CSS3
    </div>
    <div class="chip">
    <img src="images/html5.png" alt="Person" width="96" height="96">
    HTML5
    </div>
    <div class="chip">
    <img src="images/javascript.png" alt="Person" width="96" height="96">
    Javascript
    </div>
    <div class="chip">
    <img src="images/jquery.png" alt="Person" width="96" height="96">
    jQuery
    </div>
    <div class="chip">
    Canvas JS
    </div>
  </div>
  </div>
</div>
<br>
<br>
<!-- project 2 -->
<div class="row">
<div class="col-md-4">
<div class="description">
  <h2><a target="_blank" href="https://grailsonfeet.herokuapp.com/">Grails On Feet </a><a target="_blank" href="https://github.com/pnguye11/grails_on_feet">|  Github</a></h2>
    <p>This application is for all the crazy shoes collector out there who wants to show off their love for shoes! This application is the place to show off your photography skills!.</p>
   <br>
  <div class="chip">
  <img src="images/css3.png" alt="Person" width="96" height="96">
  CSS3
  </div>
  <div class="chip">
  <img src="images/html5.png" alt="Person" width="96" height="96">
  HTML5
  </div>
  <div class="chip">
  <img src="images/ruby.png" alt="Person" width="96" height="96">
  Ruby
  </div>
  <div class="chip">
  <img src="images/ror.png" alt="Person" width="96" height="96">
  Ruby on Rails
  </div>
  <div class="chip">
  <img src="images/postgresql.png" alt="Person" width="96" height="96">
  PostgresSQL
  </div>
  <div class="chip">
  Paperclip
  </div>
  <div class="chip">
  AWS
  </div>
</div>
</div>
<div class="col-md-4">
  <img src="images/grails.png" class="project2">
</div>
</div>
<br>
<br>
<!-- project 3 -->
<div class="row">
  <div class="col-md-4">
<img src="images/concert-match.png" class="project">
</div>
<div class="col-md-4">
  <div class="description">
    <h2><a target="_blank" href="https://concert-match.herokuapp.com">Concert-Match </a><a target="_blank" href="https://github.com/pnguye11/concert-match">|  Github</a></h2>
      <p>Concert-Match is a streamline app created by myself, Adam Berro, and Stephanie Wilkinson. By using Spotify API, the app gathers the user’s top artists then searches for concerts for those artists using Bands In Town API and render it on the map using Map Box API..</p>

    <br>
    <div class="chip">
    <img src="images/nodejs.png" alt="Person" width="96" height="96">
    Node.js
    </div>
    <div class="chip">
    <img src="images/mongodb.png" alt="Person" width="96" height="96">
    MongoDB
    </div>
    <div class="chip">
    <img src="images/css3.png" alt="Person" width="96" height="96">
    Materialize
    </div>
    <div class="chip">
    <img src="images/html5.png" alt="Person" width="96" height="96">
    HTML5
    </div>
    <div class="chip">
    <img src="images/javascript.png" alt="Person" width="96" height="96">
    Javascript
    </div>
    <div class="chip">
    <img src="images/jquery.png" alt="Person" width="96" height="96">
    jQuery
    </div>
    <div class="chip">
    Express
    </div>
    <div class="chip">
    (OAuth)Spotify
    </div>
    <div class="chip">
    API's (Spotify, Bands in Town, Mapbox)
    </div>

  </div>
  </div>
</div>
<!-- project 4 -->
<div class="row">
  <div class="col-md-4">
<img src="images/MeowToo.png" class="project">
</div>
<div class="col-md-4">
  <div class="description">
    <h2><a target="_blank" href="https://meowtoo.herokuapp.com">MeowToo </a><a target="_blank" href="https://github.com/pnguye11/meowtoo">|  Github</a></h2>
      <p>I wanted to build a full-stack e-commerce that was easy for a person to sell their goods. This is a full CRUD app. Admin can create and edit their listed items. Give it a try! ' /#/login ', login info: hi@ymail.com and pw: abc123 .</p>
    <br>
    <div class="chip">
    <img src="images/nodejs.png" alt="Person" width="96" height="96">
    Node.js
    </div>
    <div class="chip">
    <img src="images/mongodb.png" alt="Person" width="96" height="96">
    MongoDB
    </div>
    <div class="chip">
    <img src="images/css3.png" alt="Person" width="96" height="96">
    Bootstrap
    </div>
    <div class="chip">
    <img src="images/html5.png" alt="Person" width="96" height="96">
    HTML5
    </div>
    <div class="chip">
    <img src="images/javascript.png" alt="Person" width="96" height="96">
    Javascript
    </div>
    <div class="chip">
    <img src="images/angular.png" alt="Person" width="96" height="96">
    Angular
    </div>
    <div class="chip">
    Express
    </div>
    <div class="chip">
    Bower
    </div>
    <div class="chip">
    JSON Web Token
    </div>
    <div class="chip">
    Mongoose
    </div>
    <div class="chip">
    NgCart
    </div>

  </div>
  </div>
</div>
